# 1. Importando as bibliotecas

In [120]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import datetime
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier
from imblearn.over_sampling import SMOTE
from sklearn.metrics import recall_score, precision_score, f1_score, accuracy_score, confusion_matrix
import warnings
warnings.filterwarnings('ignore')

# 2. Carregando dataset

In [121]:
df = pd.read_csv('ordens_case_dnc_.csv')

# 3. Visualizando dataset

In [122]:
df.head()

,id,price,order_date,due_date,opt_date,delivery_date,cidade_origem_id,regiao_origem_id,cidade_destino_id,regiao_destino_id,peso
0,0,107.78,2022-02-25 20:46:25+00:00,2022-03-02 00:00:00,2022-02-28 20:35:20,2022-03-02 18:03:33,2,1,25,1,23.8
1,1,7.47,2022-02-23 20:34:59+00:00,2022-02-24 00:00:00,2022-02-24 09:56:23,2022-02-24 15:52:40,2,1,16,4,536.0
2,2,5.98,2022-02-23 20:35:19+00:00,2022-02-24 00:00:00,2022-02-23 20:29:38,2022-02-24 22:55:38,2,1,88,1,202.0
3,3,5.98,2022-02-10 14:34:37+00:00,2022-02-17 00:00:00,2022-02-17 07:47:49,2022-02-17 14:23:12,2,1,21,1,441.0
4,4,5.98,2022-02-23 20:35:05+00:00,2022-02-24 00:00:00,2022-02-23 20:28:40,2022-02-24 12:08:00,2,1,25,1,316.0

In [123]:
df.dtypes

id                     int64
price                float64
order_date            object
due_date              object
opt_date              object
delivery_date         object
cidade_origem_id       int64
regiao_origem_id       int64
cidade_destino_id      int64
regiao_destino_id      int64
peso                 float64
dtype: object

Observa-se que as colunas order_date, due_date, opt_date, delivery_date deveriam estar no formato de datetime mas estão como objeto, logo, deverão ser tratados.

In [124]:
df.isnull().sum()

id                   0
price                0
order_date           0
due_date             0
opt_date             0
delivery_date        0
cidade_origem_id     0
regiao_origem_id     0
cidade_destino_id    0
regiao_destino_id    0
peso                 0
dtype: int64

In [125]:
# Tratando data
cols = ['order_date', 'due_date', 'opt_date', 'delivery_date']
for col in cols:
  df[col] = pd.to_datetime(df[col])

In [126]:
df.dtypes

id                                 int64
price                            float64
order_date           datetime64[ns, UTC]
due_date                  datetime64[ns]
opt_date                  datetime64[ns]
delivery_date             datetime64[ns]
cidade_origem_id                   int64
regiao_origem_id                   int64
cidade_destino_id                  int64
regiao_destino_id                  int64
peso                             float64
dtype: object

# 4. Análise Exploratória de Dados

In [127]:
df['order_date'] = df['order_date'].dt.tz_localize(None)

In [128]:
df.dtypes

id                            int64
price                       float64
order_date           datetime64[ns]
due_date             datetime64[ns]
opt_date             datetime64[ns]
delivery_date        datetime64[ns]
cidade_origem_id              int64
regiao_origem_id              int64
cidade_destino_id             int64
regiao_destino_id             int64
peso                        float64
dtype: object

In [129]:
cols = ['order_date', 'due_date', 'opt_date', 'delivery_date']
for col in cols:
  df[col]= pd.to_datetime(df[col]).dt.date

In [130]:
df.head()

,id,price,order_date,due_date,opt_date,delivery_date,cidade_origem_id,regiao_origem_id,cidade_destino_id,regiao_destino_id,peso
0,0,107.78,2022-02-25,2022-03-02,2022-02-28,2022-03-02,2,1,25,1,23.8
1,1,7.47,2022-02-23,2022-02-24,2022-02-24,2022-02-24,2,1,16,4,536.0
2,2,5.98,2022-02-23,2022-02-24,2022-02-23,2022-02-24,2,1,88,1,202.0
3,3,5.98,2022-02-10,2022-02-17,2022-02-17,2022-02-17,2,1,21,1,441.0
4,4,5.98,2022-02-23,2022-02-24,2022-02-23,2022-02-24,2,1,25,1,316.0

In [131]:
# Tratando data
cols = ['order_date', 'due_date', 'opt_date', 'delivery_date']
for col in cols:
  df[col] = pd.to_datetime(df[col])

In [132]:
df.dtypes

id                            int64
price                       float64
order_date           datetime64[ns]
due_date             datetime64[ns]
opt_date             datetime64[ns]
delivery_date        datetime64[ns]
cidade_origem_id              int64
regiao_origem_id              int64
cidade_destino_id             int64
regiao_destino_id             int64
peso                        float64
dtype: object

In [133]:
# Criando uma coluna de dias de atraso com a diferença entre a data de entrega e a data de entrega esperada
df['atraso'] = df['delivery_date'] - df['due_date']

In [134]:
# Criando uma coluna para mostrar quantos dias depois que foi feito o pedido, ele saiu para entrega
df['Lag_order_shipping'] = (df['opt_date'] - df['order_date'])

In [135]:
df.head()

,id,price,order_date,due_date,opt_date,delivery_date,cidade_origem_id,regiao_origem_id,cidade_destino_id,regiao_destino_id,peso,atraso,Lag_order_shipping
0,0,107.78,2022-02-25,2022-03-02,2022-02-28,2022-03-02,2,1,25,1,23.8,0 days,3 days
1,1,7.47,2022-02-23,2022-02-24,2022-02-24,2022-02-24,2,1,16,4,536.0,0 days,1 days
2,2,5.98,2022-02-23,2022-02-24,2022-02-23,2022-02-24,2,1,88,1,202.0,0 days,0 days
3,3,5.98,2022-02-10,2022-02-17,2022-02-17,2022-02-17,2,1,21,1,441.0,0 days,7 days
4,4,5.98,2022-02-23,2022-02-24,2022-02-23,2022-02-24,2,1,25,1,316.0,0 days,0 days

In [136]:
df['atraso'] = (df['atraso']/np.timedelta64(1, 'D')).astype(int)

In [137]:
df['Lag_order_shipping'] = (df['Lag_order_shipping']/np.timedelta64(1, 'D')).astype(int)

In [138]:
df.head()

,id,price,order_date,due_date,opt_date,delivery_date,cidade_origem_id,regiao_origem_id,cidade_destino_id,regiao_destino_id,peso,atraso,Lag_order_shipping
0,0,107.78,2022-02-25,2022-03-02,2022-02-28,2022-03-02,2,1,25,1,23.8,0,3
1,1,7.47,2022-02-23,2022-02-24,2022-02-24,2022-02-24,2,1,16,4,536.0,0,1
2,2,5.98,2022-02-23,2022-02-24,2022-02-23,2022-02-24,2,1,88,1,202.0,0,0
3,3,5.98,2022-02-10,2022-02-17,2022-02-17,2022-02-17,2,1,21,1,441.0,0,7
4,4,5.98,2022-02-23,2022-02-24,2022-02-23,2022-02-24,2,1,25,1,316.0,0,0

In [139]:
df[df['atraso'] < 0] = 0

In [202]:
df1 = df[['atraso','cidade_origem_id','cidade_destino_id']] \
.pivot_table(index='cidade_origem_id',
             columns='cidade_destino_id',
             values='atraso',
             aggfunc='mean') \
.applymap(lambda x: x if x>0 else 0)

# Análise de Atrasos por cidades de destino e origem

In [223]:
l = {}
for i in list(df1.index):
    l[f'Origem id: {i}'] = [np.mean(df1.iloc[i])]
pd.DataFrame(l,index = ['Average Delay'])

,Origem id: 0,Origem id: 1,Origem id: 2,Origem id: 3,Origem id: 4,Origem id: 5
Average Delay,0.0,0.172484,1.138897,0.150287,0.558797,0.867915

In [242]:
pd.set_option('display.max_rows',150)
l = {}
for i in list(df1.columns):
    l[f'Destino id: {i}'] = [np.mean(df1[i])]
pd.DataFrame(l,index = ['Average Delay'])\
.transpose()\
.sort_values(by='Average Delay',ascending=False)

                 Average Delay
Destino id: 23        3.166667
Destino id: 111       2.666667
Destino id: 59        2.500000
Destino id: 63        2.444444
Destino id: 40        2.166667
Destino id: 87        2.000000
Destino id: 10        1.944444
Destino id: 48        1.714286
Destino id: 41        1.666667
Destino id: 34        1.650000
Destino id: 24        1.632035
Destino id: 55        1.333333
Destino id: 98        1.333333
Destino id: 103       1.166667
Destino id: 105       1.166667
Destino id: 58        1.166667
Destino id: 12        1.044444
Destino id: 1         1.000000
Destino id: 93        1.000000
Destino id: 77        1.000000
Destino id: 42        1.000000
Destino id: 54        1.000000
Destino id: 86        0.916667
Destino id: 36        0.833333
Destino id: 28        0.833333
Destino id: 108       0.833333
Destino id: 79        0.833333
Destino id: 91        0.708333
Destino id: 92        0.666667
Destino id: 72        0.666667
Destino id: 15        0.653704
Destino id: 17        0.611111
Destino id: 75        0.500000
Destino id: 66        0.500000
Destino id: 116       0.500000
Destino id: 39        0.416667
Destino id: 19        0.368687
Destino id: 90        0.333333
Destino id: 50        0.333333
Destino id: 67        0.333333
Destino id: 46        0.268519
Destino id: 38        0.266667
Destino id: 61        0.250000
Destino id: 6         0.247619
Destino id: 52        0.222222
Destino id: 76        0.222222
Destino id: 16        0.196429
Destino id: 60        0.166667
Destino id: 83        0.166667
Destino id: 126       0.166667
Destino id: 13        0.166667
Destino id: 89        0.166667
Destino id: 124       0.166667
Destino id: 32        0.166667
Destino id: 123       0.166667
Destino id: 95        0.166667
Destino id: 2         0.145145
Destino id: 51        0.133333
Destino id: 25        0.125000
Destino id: 47        0.123810
Destino id: 57        0.111111
Destino id: 62        0.083333
Destino id: 107       0.083333
Destino id: 9         0.083333
Destino id: 27        0.083333
Destino id: 37        0.083333
Destino id: 35        0.047619
Destino id: 56        0.041667
Destino id: 68        0.023810
Destino id: 8         0.023810
Destino id: 30        0.020833
Destino id: 22        0.020833
Destino id: 18        0.008333
Destino id: 14        0.007576
Destino id: 74        0.000000
Destino id: 97        0.000000
Destino id: 102       0.000000
Destino id: 21        0.000000
Destino id: 20        0.000000
Destino id: 109       0.000000
Destino id: 26        0.000000
Destino id: 110       0.000000
Destino id: 11        0.000000
Destino id: 113       0.000000
Destino id: 121       0.000000
Destino id: 7         0.000000
Destino id: 3         0.000000
Destino id: 96        0.000000
Destino id: 94        0.000000
Destino id: 71        0.000000
Destino id: 84        0.000000
Destino id: 70        0.000000
Destino id: 78        0.000000
Destino id: 64        0.000000
Destino id: 80        0.000000
Destino id: 81        0.000000
Destino id: 53        0.000000
Destino id: 85        0.000000
Destino id: 29        0.000000
Destino id: 49        0.000000
Destino id: 45        0.000000
Destino id: 88        0.000000
Destino id: 43        0.000000
Destino id: 33        0.000000
Destino id: 31        0.000000
Destino id: 0         0.000000

In [314]:
l = {}
for i in list(df1.columns):
    l[f'Destino id: {i}'] = list(pd.DataFrame(df1[df1[i] == 0][i]).index)
import json
jason_vorhees = []
for i in l.values():
    jason_vorhees.append(json.dumps(i))
pd.DataFrame(jason_vorhees,index = l.keys(),columns=['Origens Sem Atraso'])\
.sort_values(by='Origens Sem Atraso', ascending = False)

                 Origens Sem Atraso
Destino id: 24                  [0]
Destino id: 23                  [0]
Destino id: 15                  [0]
Destino id: 19               [0, 4]
Destino id: 10               [0, 3]
Destino id: 6             [0, 3, 5]
Destino id: 17         [0, 2, 3, 5]
Destino id: 92      [0, 2, 3, 4, 5]
Destino id: 28      [0, 2, 3, 4, 5]
Destino id: 2                [0, 1]
Destino id: 1                [0, 1]
Destino id: 46            [0, 1, 5]
Destino id: 16         [0, 1, 4, 5]
Destino id: 59         [0, 1, 4, 5]
Destino id: 34            [0, 1, 3]
Destino id: 63            [0, 1, 3]
Destino id: 66            [0, 1, 3]
Destino id: 87         [0, 1, 3, 5]
Destino id: 25         [0, 1, 3, 5]
Destino id: 36         [0, 1, 3, 4]
Destino id: 48         [0, 1, 3, 4]
Destino id: 91         [0, 1, 3, 4]
Destino id: 12         [0, 1, 3, 4]
Destino id: 111        [0, 1, 3, 4]
Destino id: 77         [0, 1, 3, 4]
Destino id: 76         [0, 1, 3, 4]
Destino id: 103        [0, 1, 3, 4]
Destino id: 98         [0, 1, 3, 4]
Destino id: 67      [0, 1, 3, 4, 5]
Destino id: 60      [0, 1, 3, 4, 5]
Destino id: 86      [0, 1, 3, 4, 5]
Destino id: 51      [0, 1, 3, 4, 5]
Destino id: 54      [0, 1, 3, 4, 5]
Destino id: 55      [0, 1, 3, 4, 5]
Destino id: 50      [0, 1, 3, 4, 5]
Destino id: 75      [0, 1, 3, 4, 5]
Destino id: 37      [0, 1, 3, 4, 5]
Destino id: 116     [0, 1, 3, 4, 5]
Destino id: 93      [0, 1, 3, 4, 5]
Destino id: 32      [0, 1, 3, 4, 5]
Destino id: 27      [0, 1, 3, 4, 5]
Destino id: 47         [0, 1, 2, 5]
Destino id: 56      [0, 1, 2, 4, 5]
Destino id: 13      [0, 1, 2, 4, 5]
Destino id: 39         [0, 1, 2, 3]
Destino id: 107     [0, 1, 2, 3, 5]
Destino id: 8       [0, 1, 2, 3, 5]
Destino id: 61      [0, 1, 2, 3, 5]
Destino id: 14      [0, 1, 2, 3, 5]
Destino id: 18      [0, 1, 2, 3, 5]
Destino id: 79      [0, 1, 2, 3, 5]
Destino id: 57      [0, 1, 2, 3, 5]
Destino id: 38      [0, 1, 2, 3, 5]
Destino id: 22      [0, 1, 2, 3, 5]
Destino id: 52      [0, 1, 2, 3, 5]
Destino id: 105     [0, 1, 2, 3, 5]
Destino id: 90      [0, 1, 2, 3, 5]
Destino id: 40      [0, 1, 2, 3, 5]
Destino id: 83      [0, 1, 2, 3, 5]
Destino id: 108     [0, 1, 2, 3, 4]
Destino id: 95      [0, 1, 2, 3, 4]
Destino id: 72      [0, 1, 2, 3, 4]
Destino id: 89      [0, 1, 2, 3, 4]
Destino id: 123     [0, 1, 2, 3, 4]
Destino id: 124     [0, 1, 2, 3, 4]
Destino id: 126     [0, 1, 2, 3, 4]
Destino id: 30      [0, 1, 2, 3, 4]
Destino id: 68      [0, 1, 2, 3, 4]
Destino id: 62      [0, 1, 2, 3, 4]
Destino id: 35      [0, 1, 2, 3, 4]
Destino id: 58      [0, 1, 2, 3, 4]
Destino id: 9       [0, 1, 2, 3, 4]
Destino id: 41      [0, 1, 2, 3, 4]
Destino id: 42      [0, 1, 2, 3, 4]
Destino id: 71   [0, 1, 2, 3, 4, 5]
Destino id: 21   [0, 1, 2, 3, 4, 5]
Destino id: 102  [0, 1, 2, 3, 4, 5]
Destino id: 29   [0, 1, 2, 3, 4, 5]
Destino id: 26   [0, 1, 2, 3, 4, 5]
Destino id: 110  [0, 1, 2, 3, 4, 5]
Destino id: 20   [0, 1, 2, 3, 4, 5]
Destino id: 109  [0, 1, 2, 3, 4, 5]
Destino id: 96   [0, 1, 2, 3, 4, 5]
Destino id: 11   [0, 1, 2, 3, 4, 5]
Destino id: 113  [0, 1, 2, 3, 4, 5]
Destino id: 121  [0, 1, 2, 3, 4, 5]
Destino id: 7    [0, 1, 2, 3, 4, 5]
Destino id: 3    [0, 1, 2, 3, 4, 5]
Destino id: 97   [0, 1, 2, 3, 4, 5]
Destino id: 33   [0, 1, 2, 3, 4, 5]
Destino id: 31   [0, 1, 2, 3, 4, 5]
Destino id: 94   [0, 1, 2, 3, 4, 5]
Destino id: 70   [0, 1, 2, 3, 4, 5]
Destino id: 43   [0, 1, 2, 3, 4, 5]
Destino id: 88   [0, 1, 2, 3, 4, 5]
Destino id: 45   [0, 1, 2, 3, 4, 5]
Destino id: 49   [0, 1, 2, 3, 4, 5]
Destino id: 85   [0, 1, 2, 3, 4, 5]
Destino id: 84   [0, 1, 2, 3, 4, 5]
Destino id: 53   [0, 1, 2, 3, 4, 5]
Destino id: 81   [0, 1, 2, 3, 4, 5]
Destino id: 80   [0, 1, 2, 3, 4, 5]
Destino id: 78   [0, 1, 2, 3, 4, 5]
Destino id: 64   [0, 1, 2, 3, 4, 5]
Destino id: 74   [0, 1, 2, 3, 4, 5]
Destino id: 0    [0, 1, 2, 3, 4, 5]

In [294]:
l = {}
for i in list(df1.index):
    s = df1.iloc[i] == 0 
    l[f'Origem id: {i}'] = list(s[s].index)
lista = []
for i in l.values():
    lista.append(len(i))
pd.DataFrame(lista,index = l.keys(),columns=['Nº de Destinos Sem Atraso'])\
.sort_values(by='Nº de Destinos Sem Atraso', ascending = False)

              Nº de Destinos Sem Atraso
Origem id: 0                        106
Origem id: 1                         97
Origem id: 3                         94
Origem id: 4                         76
Origem id: 5                         71
Origem id: 2                         68

In [253]:
l = {}
for i in list(df1.index):
    l[f'Origem id: {i}'] = list(pd.DataFrame(df1.iloc[i]).sort_values(by=i,ascending=False).index)
origins = pd.DataFrame(l)
origins.index = [f'{i}º Pior' for i in origins.index+1]
origins

,Origem id: 0,Origem id: 1,Origem id: 2,Origem id: 3,Origem id: 4,Origem id: 5
1º Pior,0,28,111,59,40,41
2º Pior,86,92,63,24,105,23
3º Pior,84,10,55,13,23,58
4º Pior,83,17,87,23,79,48
5º Pior,81,6,59,19,87,42
6º Pior,80,23,54,46,24,108
7º Pior,79,15,93,15,10,103
8º Pior,78,19,86,16,90,34
9º Pior,77,24,98,56,39,72
10º Pior,76,80,1,2,17,77
11º Pior,75,79,12,1,38,24
12º Pior,74,0,10,47,34,36
13º Pior,72,81,34,78,61,98
14º Pior,71,77,48,80,52,111
15º Pior,70,83,116,81,83,91
16º Pior,68,84,75,77,66,66
17º Pior,67,85,91,83,15,15
18º Pior,66,86,50,84,57,12
19º Pior,64,78,36,85,63,126
20º Pior,63,75,77,79,47,10
21º Pior,62,76,67,75,25,63
22º Pior,61,88,103,76,1,124
23º Pior,60,74,23,87,107,123
24º Pior,59,72,24,74,46,95
25º Pior,58,71,76,72,6,89
26º Pior,85,70,60,71,8,19
27º Pior,87,68,32,70,22,62
28º Pior,1,67,16,68,2,39
29º Pior,88,66,51,67,18,9
30º Pior,124,64,15,66,14,76
31º Pior,123,63,37,64,86,1
32º Pior,121,62,27,86,72,35
33º Pior,116,87,46,91,74,2
34º Pior,113,93,2,88,78,68
35º Pior,111,89,19,105,85,30
36º Pior,110,107,25,124,77,102
37º Pior,109,124,66,123,75,78
38º Pior,108,123,6,121,81,110
39º Pior,107,121,81,116,80,75
40º Pior,105,116,78,113,76,93
41º Pior,103,113,83,111,84,74
42º Pior,102,111,80,110,0,80
43º Pior,98,110,84,109,88,71
44º Pior,97,109,79,108,103,109
45º Pior,96,108,0,107,124,105
46º Pior,95,105,85,103,123,70
47º Pior,94,90,105,89,121,79
48º Pior,93,103,124,102,116,83
49º Pior,92,102,123,98,113,81
50º Pior,91,98,121,97,111,92
51º Pior,90,97,113,96,110,121
52º Pior,89,96,110,95,109,84
53º Pior,57,95,109,94,108,85
54º Pior,56,94,108,93,102,86
55º Pior,55,60,107,92,89,87
56º Pior,54,91,102,62,98,116
57º Pior,26,61,88,90,97,97
58º Pior,25,56,97,63,96,88
59º Pior,24,59,96,0,95,96
60º Pior,23,58,95,61,94,94
61º Pior,22,32,94,18,70,90
62º Pior,21,31,72,30,93,113
63º Pior,20,30,92,29,92,107
64º Pior,19,29,90,28,91,0
65º Pior,18,27,89,27,71,67
66º Pior,17,26,74,26,56,18
67º Pior,16,25,56,25,68,29
68º Pior,15,22,71,22,67,28
69º Pior,14,21,18,21,32,27
70º Pior,13,20,30,20,31,26
71º Pior,12,18,29,17,30,25
72º Pior,11,16,28,32,29,22
73º Pior,10,14,26,14,28,21
74º Pior,9,13,22,12,27,20
75º Pior,8,12,21,11,26,17
76º Pior,7,11,20,10,21,64
77º Pior,6,9,17,9,20,16
78º Pior,3,8,33,8,19,14
79º Pior,2,7,14,7,16,13
80º Pior,27,3,13,6,13,11
81º Pior,28,2,11,3,12,8
82º Pior,29,33,9,31,11,7
83º Pior,42,34,8,33,9,6
84º Pior,53,35,7,60,7,3
85º Pior,52,48,3,48,3,31
86º Pior,51,57,31,58,33,32
87º Pior,50,1,35,57,35,33
88º Pior,49,55,70,55,36,37
89º Pior,48,54,52,54,53,61
90º Pior,47,53,68,53,64,60
91º Pior,46,52,64,52,62,59
92º Pior,45,51,62,51,60,57
93º Pior,43,50,61,50,59,55
94º Pior,41,49,58,49,58,54
95º Pior,30,47,57,45,55,53
96º Pior,40,36,53,34,54,52
97º Pior,39,46,49,43,51,51
98º Pior,38,45,38,42,37,50
99º Pior,37,43,47,41,50,49
100º Pior,36,42,45,40,49,47
101º Pior,35,41,43,39,48,46
102º Pior,34,40,42,38,45,45
103º Pior,33,39,41,37,43,43
104º Pior,32,38,40,36,42,40
105º Pior,31,37,39,35,41,38
106º Pior,126,126,126,126,126,56

In [254]:
l = {}
for i in list(df1.columns):
    l[f'Destino id: {i}'] = list(pd.DataFrame(df1[i]).sort_values(by=i,ascending=False).index)
pd.DataFrame(l,index = ['1º Pior','2º Pior','3º Pior','4º Pior','5º Pior','6º Pior'])\
.transpose()

                 1º Pior  2º Pior  3º Pior  4º Pior  5º Pior  6º Pior
Destino id: 0          0        1        2        3        4        5
Destino id: 1          2        4        5        3        0        1
Destino id: 2          2        5        3        4        0        1
Destino id: 3          0        1        2        3        4        5
Destino id: 6          1        2        4        0        3        5
Destino id: 7          0        1        2        3        4        5
Destino id: 8          4        0        1        2        3        5
Destino id: 9          5        0        1        2        3        4
Destino id: 10         1        2        4        5        0        3
Destino id: 11         0        1        2        3        4        5
Destino id: 12         2        5        0        1        3        4
Destino id: 13         3        0        1        2        4        5
Destino id: 14         4        0        1        2        3        5
Destino id: 15         5        4        2        1        3        0
Destino id: 16         2        3        0        1        4        5
Destino id: 17         1        4        0        2        3        5
Destino id: 18         4        0        1        2        3        5
Destino id: 19         3        5        1        2        0        4
Destino id: 20         0        1        2        3        4        5
Destino id: 21         0        1        2        3        4        5
Destino id: 22         4        0        1        2        3        5
Destino id: 23         5        4        2        1        3        0
Destino id: 24         5        4        3        2        1        0
Destino id: 25         4        2        0        1        3        5
Destino id: 26         0        1        2        3        4        5
Destino id: 27         2        0        1        3        4        5
Destino id: 28         1        0        2        3        4        5
Destino id: 29         0        1        2        3        4        5
Destino id: 30         5        0        1        2        3        4
Destino id: 31         0        1        2        3        4        5
Destino id: 32         2        0        1        3        4        5
Destino id: 33         0        1        2        3        4        5
Destino id: 34         5        2        4        0        1        3
Destino id: 35         5        0        1        2        3        4
Destino id: 36         5        2        0        1        3        4
Destino id: 37         2        0        1        3        4        5
Destino id: 38         4        0        1        2        3        5
Destino id: 39         4        5        0        1        2        3
Destino id: 40         4        0        1        2        3        5
Destino id: 41         5        0        1        2        3        4
Destino id: 42         5        0        1        2        3        4
Destino id: 43         0        1        2        3        4        5
Destino id: 45         0        1        2        3        4        5
Destino id: 46         3        2        4        0        1        5
Destino id: 47         4        3        0        1        2        5
Destino id: 48         5        2        0        1        3        4
Destino id: 49         0        1        2        3        4        5
Destino id: 50         2        0        1        3        4        5
Destino id: 51         2        0        1        3        4        5
Destino id: 52         4        0        1        2        3        5
Destino id: 53         0        1        2        3        4        5
Destino id: 54         2        0        1        3        4        5
Destino id: 55         2        0        1        3        4        5
Destino id: 56         3        0        1        2        4        5
Destino id: 57         4        0        1        2        3        5
Destino id: 58         5        0        1        2        3        4
Destino id: 59         3        2        0        1        4        5
Destino id: 60         2        0        1        3        4        5
Destino id: 61         4        0        1        2        3        5
Destino id: 62         5        0        1        2        3        4
Destino id: 63         2        5        4        0        1        3
Destino id: 64         0        1        2        3        4        5
Destino id: 66         5        4        2        0        1        3
Destino id: 67         2        0        1        3        4        5
Destino id: 68         5        0        1        2        3        4
Destino id: 70         0        1        2        3        4        5
Destino id: 71         0        1        2        3        4        5
Destino id: 72         5        0        1        2        3        4
Destino id: 74         0        1        2        3        4        5
Destino id: 75         2        0        1        3        4        5
Destino id: 76         2        5        0        1        3        4
Destino id: 77         5        2        0        1        3        4
Destino id: 78         0        1        2        3        4        5
Destino id: 79         4        0        1        2        3        5
Destino id: 80         0        1        2        3        4        5
Destino id: 81         0        1        2        3        4        5
Destino id: 83         4        0        1        2        3        5
Destino id: 84         0        1        2        3        4        5
Destino id: 85         0        1        2        3        4        5
Destino id: 86         2        0        1        3        4        5
Destino id: 87         2        4        0        1        3        5
Destino id: 88         0        1        2        3        4        5
Destino id: 89         5        0        1        2        3        4
Destino id: 90         4        0        1        2        3        5
Destino id: 91         5        2        0        1        3        4
Destino id: 92         1        0        2        3        4        5
Destino id: 93         2        0        1        3        4        5
Destino id: 94         0        1        2        3        4        5
Destino id: 95         5        0        1        2        3        4
Destino id: 96         0        1        2        3        4        5
Destino id: 97         0        1        2        3        4        5
Destino id: 98         2        5        0        1        3        4
Destino id: 102        0        1        2        3        4        5
Destino id: 103        5        2        0        1        3        4
Destino id: 105        4        0        1        2        3        5
Destino id: 107        4        0        1        2        3        5
Destino id: 108        5        0        1        2        3        4
Destino id: 109        0        1        2        3        4        5
Destino id: 110        0        1        2        3        4        5
Destino id: 111        2        5        0        1        3        4
Destino id: 113        0        1        2        3        4        5
Destino id: 116        2        0        1        3        4        5
Destino id: 121        0        1        2        3        4        5
Destino id: 123        5        0        1        2        3        4
Destino id: 124        5        0        1        2        3        4
Destino id: 126        5        0        1        2        3        4